{% extends 'WalvaPublicationBundle:Article:layout.html.twig' %}



{% block breadcrumb %}
{{ parent() }}
<li class="active">Article edit</li>
{% endblock %}




{% block body -%}
<h1>Article edit</h1>

    {{ form(edit_form) }}

<div class="pull-right">
{{ form(delete_form) }}
</div>
{% endblock %}

{% block container_header_right %}


    <a class="btn " href="{{ path('article') }}">
        <i class="icon-chevron-left"></i> 
        Back to the list
    </a>

{% endblock %}