{% extends 'WalvaPublicationBundle:Article:layout.html.twig' %}


{% block breadcrumb %}
{{ parent() }}
<li class="active">Article creation</li>
{% endblock %}


{% block body -%}
<h1>Article creation</h1>

    {{ form(form) }}

{% endblock %}




{% block container_header_right %}
<div class="btn-group">
    <a class="btn " href="{{ path('article') }}">
        <i class="icon-chevron-left"></i> 
        Back to the list
    </a>
</div>
{% endblock %}