{% extends "WalvaSupportkotBundle:Supportkot:layout.html.twig" %}
 {% set current_page = 'list' %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}
 
{% block bundle_body %}
 
  <h2>Bienvenue! {{ name }}</h2>
 
  <ul>
    
  </ul>
 
{% endblock %}