{% extends "::admin.html.twig" %}

{% block title %}
Accueil - {{ parent() }}
{% endblock %}

{% block header %}
<h1>Categorie</h1>
{% endblock %}


{% block breadcrumb %}
{{ parent() }}
<li><a href="#">Categorie</a> <span class="divider">/</span></li>

{% endblock %}

{% block bundle_body %}
Attention, ce bloc est a définir

{% endblock %}

{% block left_menu %}
{% endblock %}